*{
    margin: 0;
    padding:0;
    font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;;
}

body{
    display:flex;
    flex-direction: column;
}

.header
{
    height:90vh;
    background-color: #1f2937;
}

.logo h3{
    font-size: 24px;
    color:#f9faf8;
    font-weight:700;
}
.navbar
{
    
    margin-left:12.5vw;
    margin-right: 12.5vw;
    padding-top:20px;
    display:flex;
    justify-content:space-between;
    margin-bottom:20px;
    align-items: end;
}
ul{
    list-style-type: none;
}
li{
    gap:10px;
}
a{
    text-decoration: none;
    font-size:18px;
    color:#e5e7eb;
}
.link{
    display:flex;
    gap:20px;
}

.hero
{
    margin-top:22.5vh;
    margin-left:12.5vw;
    margin-right:12.5vw;
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
}
.hero-left
{
    margin-right:5vw;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width:38vw;
}

.hero-title
{
    margin-bottom:3vh;
    font-size:48px;
    font-weight:900;
    color:#f9faf8;
    max-width:30vw;
}
.hero-desc
{
    margin-bottom:2vh;
    font-size:18px;
    color:#e5e7eb;
}

.signup
{
    width: 100px;
    height:auto;
    padding: 10px 5px;
    font-size:16px;
    font-weight:700;
    color:#f9faf8
}
button{
    background-color: #3882f6;
    border-radius:10px;
    border-color: transparent;
}

.img1
{
    width:30vw;
    height:auto;
}


/*------------------body1----------------*/
#body1
{
    max-height: 80vh;
    background-color: #ffffff;
    
}

.body-title
{
    display:flex;
    justify-content: center;
    font-size:30px;
    color:#1f2937;
    font-weight:900;
    margin-top:10vh;
}
.info
{
    margin-top:7.5vh;
    display:flex;
    justify-content: space-evenly;
    gap:35px;
    margin-left:12.5vw;
    margin-right:12.5vw;
    margin-bottom: 15vh;
}

.pact
{
    max-width:15vw;
}
.info_img
{
    width:15vw;
    height:auto;
    border-radius: 10px;
    border-color: #4d8ef7;
}

.subtitle
{
    margin-top:2vh;
    text-align: center;
}




/*----------body 2---------*/
#body2
{
    height:65vh;
    background-color: #e5e7eb;
    padding-top:8vh;
    padding-bottom:7vh;
}

.container
{
    display:flex;
    flex-direction: column;
    justify-content:center;
    margin-left:20vw;
    margin-right:20vw;
    margin-top:17.5vh;
    margin-bottom:2vh;
}
.quote{
    display:flex;
    justify-content: flex-start;
}
.author
{
    display: flex;
    justify-content: flex-end;
    font-size: 22px;
    font-weight:600;
}
.quote h2{
    font-size: 36px;
    color:#1f2937;
    font-weight:250;

}


/*------------body 3-------------*/
#body3
{
    height: 70vh;
    background-color: #ffffff;
    display:flex;
    align-items: center;
    justify-content: center;
}

.containerblock
{
    padding-left:10vw;
    padding-right:10vw;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:25vh;
    width:50vw;;
    background-color: #4d8ef7;
    gap:6vw;
    border-radius:8px;
}

.leftblock
{
    color:#e5e7eb;
}

.leftblock h3{
    font-weight:750;
    font-size:24px;
}

.leftblock h5{
    font-weight:350;
    font-size:15px;
}

.signup2
{
    border-color: #e5e7eb;
    padding:10px 25px;
    font-size:18px;
    color:#f9faf8;
}


/*----------footer---------------*/

.footer
{
    height:10vh;
    background-color: #1f2937;
    display:flex;
    align-items:center;
    justify-content: center;
}

.containerfoot
{
    display:flex;
    justify-content: center;
    align-items:center;
    color:#1f2937;
}
.containerfoot h3{
    color:#e5e7eb;
    font-weight:350;
}